* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

:root{
  --main-color: black;
  --text-color: #cccccc;
  --text-color2: #666666;
  --text-border: #999999;
  --normal-color: white;
}

.greenBtn{
  background-color: green;
  font-weight: 750;
  font-family: Ubuntu;
  font-size: 15px;
  width: 70px;
  height: 40px;
  border-radius: 5px;
}

body {
  background-color: var(--main-color);
  color: var(--text-color);
}

h1{
  font-family: UBUNTU;
}

header {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 200px;
  margin-top: 20px;
}

.mainInput{
  width: 500px;
  font-size: 45px;
  height: 60px;
  text-align: right;
  color: var(--text-color2);
}

.switchDarkLight{
  align-self: center;
  background-color: var(--text-color2);
  border-radius: 8px;
  height: 30px;
  color: var(--normal-color);
  font-family: Ubuntu;
  font-weight: 550;
  border: 2px solid var(--text-border);
}

.switchDarkLight:hover {
  border: 2px solid var(--normal-color);
}

.mainDiv {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
}

.btnArea{
  background-color: var(--text-color2);
  padding: 25px;
  border-radius: 15px;
  border: 3px solid var(--main-color);
}

.calcBody {
  background-color: var(--text-border);
  font-weight: 750;
  font-family: Ubuntu;
  font-size: 25px;
  width: 110px;
  height: 70px;
  border-radius: 5px;
}

.calcBody:hover{
  border: 3px solid var(--normal-color);
}

.calcBody2 {
  background-color: var(--text-border);
  font-weight: 750;
  font-family: Ubuntu;
  font-size: 25px;
  width: 110px;
  height: 70px;
  border-radius: 5px;
}

.calcBody2:hover{
  border: 3px solid var(--normal-color);
}

.copyBtn {
  background-color: var(--text-color);
  font-weight: 750;
  font-family: Ubuntu;
  font-size: 15px;
  width: 70px;
  height: 40px;
  border-radius: 5px;
}

.result {
  width: 400px;
  height: 30px;
}

footer{
  display: flex;
  justify-content: center;
  font-family: ubuntu;
  font-variant-caps: all-petite-caps;
}

.error{
  color: white;
  background-color: red;
}